body {
    background-color: rgb(235, 212, 11);
    font-size: 12px;
    padding: 0;
    top: 0;
}
header{
    text-align: center;
}

/* navigation styles*/
nav{
    background-color: rgb(237, 68 , 31);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a{
    color: rgb(79, 13, 209);
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;
}
nav a:hover{
    color: #4d1419;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
    font-size: 2em;
    background-color: green;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: rgb(69,65,65);
}

blockquote{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.5em;
color: rgb(69,65,65);
}

/* homepage style*/

.homecontent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: rgb(33, 34, 31);
    width: 70%;
    margin: auto;
   
}

footer{
    font-family: Verdana;
    font-size: 20px;
    text-align: center;
    color: black;
}

/* Stories style */

h2 { 
background-color: #8cacea; 
 width: auto; 
 height: 50px; 
   margin: 8px;   
   padding: 4px; 
   font-size: 40px;
   text-align: center;
                 }


.stories {
    border: 2px solid black; 
    width: 65%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
     justify-content: center; 
  }
  .stories > article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding: 2px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: arial;
  }
  .stories > article > p,
  h3 {
    padding: 2px;
    margin: 5px;
    color: #803376;
  }
  .stories > article > img {
    width: 300px;
    opacity: 0.9;
    /* margin-left: 13px; */
  } 

  /* Stype for contacts*/

   .container {
    background-color: rgb(247, 229, 201);
    width: 50%;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font: size 14px;
  }
  
 
 input[type="text"]
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}


